div.category > ul > li a{
    color: #212529;
    text-decoration: none;
}

img {
    object-fit: cover;
}

.new-comment,.comment a{
    color: #212529;
    text-decoration: none;
}

.comment_form label {
    color: #bc143c;
    font-weight: 600;
}

footer {
    text-align: center;
}
